body {
  margin: 60px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  width: 100%;
  font-size: 1.2rem;
  color: gray;
}
.card-grid{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card{
  align-items: center;
  border: 1px solid grey;
  border-radius:6px;
  margin-bottom:10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
}

img{
  max-width: 250px;
}
.titulo{
  text-align: center;
  color:rgb(156, 59, 201);
  font-size:4rem;
  font-weight:bold;
}
/* Utilidades */

.nom_categoria, .categoria{
  color:rgb(10, 102, 102);
  margin: 1rem auto;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:1.5rem;
}
.titulo_gif{
  font-size:0.5rem;
}
.categoria{
  color:#e9107c;
}

/* spinner */
.spinner,.spinner:after{
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.spinner {
  background-color: transparent;
  border-top: 5px solid rgb(66,139,202);
  border-right: 5px solid rgb(66,139,202);
  border-bottom: 5px solid rgb(66,139,202);
  border-left: 5px solid rgba(66,139,202,.2);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: .8s;
  animation-name: spinner-loading
}
@keyframes spinner-loading{
0% {
    transform: rotate(0deg)
} to {
    transform: rotate(1turn)
}
}